* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.loginContainer {
  width: 500px;
  padding: 50px;
  /* background: #e9e9e9; */
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

.form-control {
  padding: 10px;
  border-radius: 10px;
}
